body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #212529;
}

/* Title */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-main-text {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Nav bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}

/* Download Buttons */

.download-btn {
  margin: 5% 3% 5% 0;
}

.apple-btn:hover {
  background-color: #ef8172;
  border-color: #ef8172;
}

/* Title Image */

.title-img {
  width: 270px;
  transform: rotate(25deg);
  position: absolute;
  margin-left: 10%;
  z-index: 1;
}

/* Features */

#features {
  position: relative;
  z-index: 2;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c67;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  max-height: 525px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-imgs {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  padding: 100px;
}

.pricing-heading {
  font-size: 2.5rem;
}

.card-item {
  padding: 3% 2%
}

.card-head1 {
  background-color: #EEEEEE;
  padding: 10px;
  height: 51px;
}
.card-btn1:hover {
  background-color: #EEEEEE;
  border-color: #EEEEEE;
}

.card-head2 {
  background-color: #ef8172;
  padding: 10px;
  height: 51px;
}
.card-btn2:hover {
  background-color: #ef8172;
  border-color: #ef8172;
}

.card-head3 {
  background-color: #ff4c67;
  padding: 10px;
  height: 51px;
}
.card-btn3:hover {
    background-color: #ff4c67;
    border-color: #ff4c67;
}

/* Call to Action */

#cta {
  margin: 5% auto;
  padding: 13% 5% 5%;
}

.cta-heading {
  font-size: 3.5rem;
  margin: auto;
  width: 50%;
}

/* Footer */

#footer {
  padding: 7% 5% 0;
}

.footer-icons {
  background-color: #fff;
  border: none;
  color: #212529;
}

.footer-icons:hover {
  color: #ff4c67;
}

.copyright {
  padding: 3% 3% 3%;
}

/* Media Queries */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: relative;
    transform: rotate(0deg);
    margin: auto;
  }
}
